<h1>Burger Order</h1>

<h2>Place your order</h2>

<form id = "ajax-form2" action="remove" method="POST">  
  <li id = a1><input type="checkbox" name="ingredient1" value="lettuce"/>1.00$: Lettuce <button type="submit" value="oos1">Out of Stock</button>
</form>
<form id = "ajax-form3" action="edit" method="POST">  
  <button type="submit" value="Edit1">Edit</button>
  <input type="text" name="edit1"/><li/><br/>
</form>
<br/>
<br/>
<form id = "ajax-form4" action="remove" method="POST"><li><li id = a2><input type="checkbox" name="ingredient2" value="tomato"/>1.50$: Tomato <button type="submit" value="oos2">Out of Stock</button>
</form>
<form id = "ajax-form5" action="add" method="POST"> 
  <button type="submit" value="Edit2">Edit</button>
  <input type="text" name="edit2"/><br/></li><li/>
</form>

<form id = "ajax-form" action="add" method="POST">
<div id="result">
</div>
  Add Ingredient (cost: product): <input type="text" name="custom"/>
  <button type="submit" value="Add">Add</button><br/>
</form>


<ul>
<a href="/kitchen">Kitchen</a>
</ul>


