<div class="entry">
  <h1>The Cat List</h1>
  {{#each cats}}
    <div class="body">
      Name: {{name}} <br>
      Age: {{age}} <br>
      Color: {{color}} <br>
      <br>
    </div>
  {{/each}}
</div>