<h1>Your Cats:</h1>
<ul>
{{#each cats}}
  <li>{{this.name}}<br></li>
  <li>{{this.age}}<br></li>
  <li>{{this.color}}<br></li>
{{/each}}
<a href="/add">Add</a> 
<a href="/remove">Remove</a> 
<a href="/">Return Home</a> 
</ul>