<form id = "ajax-form" action="add" method="POST">
<li>Username: <input type="text" name="username"/><br/>
Users:
{{#each user}}
    <ul id = {{this.name}}>{{this.name}}</ul>
{{/each}}
<div id="result">
</div>
<input type="submit">
</form>
<a href="/">Home</a>
<a href="/auth/facebook">Login with Facebook</a>